@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --drawer-width: 280px;

  @media screen and (max-width: 1200px) {
    & {
      --drawer-width: 250px;
    }
  }
  @media screen and (max-width: 450px) {
    & {
      --drawer-width: 200px;
    }
  }
}

@layer base {
  :root {
    // --------------------------
    // GERAL
    // --------------------------

    // accent B0A690

    /* Base colors */
    --black: 0 0% 0%;
    --black-soft: 0 0% 10%;
    --white: 0 0% 100%;
    --white-soft: 0 0% 95%;

    /* Muted */

    --bege: 41 17% 63%;

    --background: 0 0% 100%;
    --foreground: var(--black);

    --card: 0 0% 98%;
    --card-foreground: 217 33% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: var(--black-soft); /* or var(--black) */
    --primary-foreground: 0 0% 100%; /* Typically white for black backgrounds */

    --secondary: 45 15% 60%; /* Based on #B0A690 */
    --secondary-foreground: 45 20% 20%; /* Darker version for better contrast */

    --accent: 0 0% 50%; /* Neutral gray */
    --accent-foreground: 0 0% 90%; /* Light gray for contrast */

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 30%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --link: 217 91% 60%;

    // --------------------------
    //
    // --------------------------

    --destructive: 0 96% 89%;
    --destructive-foreground: 0 72% 51%;

    --radius: 3px;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --chart-good: #aed581; /* Soft Green */
    --chart-average: #fff176; /* Pastel Yellow */
    --chart-bad: #ef9a9a; /* Gentle Red */

    // --------------------------
    // vis charts
    // --------------------------
    --vis-color0: #4d8cfd;
    --vis-color1: #ff6b7e;
    --vis-color2: #f4b83e;
    --vis-color3: #a6cc74;
    --vis-color4: #00c19a;
    --vis-color5: #6859be;
    --vis-dark-color0: #4d8cfd;
    --vis-dark-color1: #ff6b7e;
    --vis-dark-color2: #ffc16d;
    --vis-dark-color3: #a6cc74;
    --vis-dark-color4: #00c19a;
    --vis-dark-color5: #7887e0;
    -vis-color-main: #4d8cfd;
    --vis-color-main-light: #d0e0fe;
    --vis-color-main-dark: #3c588a;
    --vis-color-grey: #2a2a2a;

    --vis-tooltip-background-color: none !important;
    --vis-tooltip-text-color: var(--muted-foreground) !important;
    --vis-tooltip-shadow-color: rgba(0, 0, 0, 0.95) !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    --vis-primary-color: var(--primary) !important;
    --vis-secondary-color: var(--secondary) !important;
    --vis-text-color: var(--foreground) !important;

    --vis-dark-tooltip-text-color: var(--muted-foreground) !important;
    --vis-dark-tooltip-border-color: var(--border) !important;
    --vis-dark-tooltip-shadow-color: rgba(0, 0, 0, 0.95) !important;

    // --------------------------
    // custom
    // --------------------------
    --drawer: 202 25% 53%;
    --drawer-foreground: 210 40% 96.1%;

    .card-gradient {
      @apply bg-gradient-to-r from-gray-100 to-gray-50;
    }
  }

  .dark {
    --white: 0 0% 90%;
    --white-soft: 0 0% 73%;

    --background: 0 0% 10%; /* Dark background */
    --foreground: var(--white); /* White text on dark background */

    --card: 0 0% 15%; /* Darker card */
    --card-foreground: 0 0% 85%; /* Light text for dark card */

    --popover: 0 0% 12%; /* Darker popover */
    --popover-foreground: 0 0% 90%; /* Light text for contrast */

    --primary: var(--white-soft); /* Light soft */
    --primary-foreground: 0 0% 10%; /* Black or dark gray for contrast */

    --secondary: 45 15% 30%; /* Muted darker tone */
    --secondary-foreground: 45 20% 80%; /* Lighter version for better contrast */

    // --accent: 0 0% 60%; /* Neutral medium gray */
    // --accent-foreground: 0 0% 95%; /* Lighter gray for contrast */
    --accent: 45 15% 60%; /* Based on #B0A690 */
    --accent-foreground: 45 20% 20%; /* Darker version for better contrast */

    --muted: 0 0% 20%; /* Dark muted */
    --muted-foreground: 0 0% 70%; /* Medium gray for contrast */

    --link: 45 15% 60%;

    /* Additional variables for dark theme */

    --border: 41 10% 25%; /* Darker tone from the bege color */
    --input: 41 17% 30%; /* Slightly lighter for inputs */
    --ring: 41 17% 50%; /* Slightly vibrant, lighter tone for rings */
    // --------------------------
    //
    // --------------------------

    --destructive: 0 62.8% 95.6%;
    --destructive-foreground: 0 75.8% 70.6%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    // --------------------------
    // custom
    // --------------------------
    --drawer: 217.2 32.6% 17.5%;
    --drawer-foreground: 210 40% 96.1%;

    .card-gradient {
      // todo
    }
  }
}

@layer base {
  * {
    @apply border-border;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.container {
  @apply px-4 md:px-8;
  max-width: 1400px;
  width: 100%;
}

// --------------------------
// COMPONENTS
// --------------------------

button:not([disabled]) {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: not-allowed;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply bg-muted;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  @apply bg-muted-foreground;
}
